html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 38px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'DM Sans', sans-serif;
}

div.embed-title {
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin: 48px;
}

div.embed-title a {
    text-decoration: none;
}

div.embed-title a:hover {
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 1.6em;
    line-height: 67px;
    margin: 0;
}

div.sidebar {
    padding: 24px;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 1;
}

div.sidebar::before {
    width: 1px;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 48px);
    left: 125%;
}


div.sidebar h1 { 
    margin: 0;
}

div.sidebar h2 {
    font-size: 24px;
    line-height: 38px;
    margin: 0;
}

div.sidebar a {
    text-decoration: none;
}
div.sidebar a:hover {
    color: rgba(0, 0, 0, 0.5);
}
div.sidebar a:visited {
    color: inherit;
}

div.sidebar .active {
    color: #225588 !important;
}

div.sidebar .content-link:hover {
    cursor: pointer;
}

div.sidebar ul {
font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 38px;
    text-decoration: none;
    margin: 0;
    list-style-type: none;
}

div.content {
    margin-left: 380px;
    margin-top: 12px;
    padding-top: 12px;
    max-width: 1200px;
}

ul.tl {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.tl.border:before {
    position: absolute;
    content: " ";
    border: 1px solid black;
    height: 100%;
    margin-left: -40px;
}

ul.tl li.ti {
    list-style: none;
    margin: 0;
    padding: 0 12px 12px 0;
    min-height: 200px;
    position: relative;
}

ul.tl li.ti div.ti-label {
    position: relative;
    color: #225588aa;
    font-size: 0.8em;
    top: 28px;
    float: right;
}

ul.tl li.ti.dot:before {
    position: absolute;
    content: " ";
    border: 10px solid #FFF;
    border-radius: 500%;
    background: #225588;
    height: 20px;
    width: 20px;
    margin-left: -60px;
    top: 14px;
}

img.blurred {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

div.links {
    padding: 0;
    margin: 12px 0;
    font-size: 0.7em;
    line-height: 1.2em;
}

div.links a {
    padding-right: 1em;
}

table.credits {
    padding: 0;
    font-size: 0.7em;
    line-height: 1.2em;
    margin-bottom: 12px;
}

table.credits tr td:first-child {
    font-weight: bold;
    text-align: left;
}

table.credits tr td:last-child {
    padding: 0 1em;
}

ul.tl li.ti p {
    line-height: 1.3em;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

div.construction-banner {
    cursor: default;
    user-select: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 64px;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    transform: translateX(130px) translateY(30px) rotateZ(45deg);
    color: white;
    font-weight: bold;
       /* 
        background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        */
    background-color: #225588; /*#131313;*/
    background-size: 20px 20px;
}

div.construction-banner div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 650px) {
    div.construction-banner {
        display: none;
    }
}

@media screen and (max-width: 1248px) {
    div.sidebar {
        display: none;
    }

    div.content {
        margin: 10px 45px 45px 45px;
        min-width: 300px;
    }

    ul.tl:before {
        margin-left: -15px;
    }

    ul.tl li.ti {
        min-width: 300px;
        padding: 0;
        margin-bottom: 1em;
    }
    
    ul.tl li.ti img {
        box-sizing: border-box;
        border: 4px solid #225588aa; /* #225588 */
    }

    ul.tl li.ti:before {
        margin-left: -24px;
        top: 24px;
        border: 5px solid #FFF;
        width: 10px;
        height: 10px;
    }

    /* ul.tl li.ti div.ti-label {
        position: absolute;
        float: left;
        writing-mode: vertical-lr;
        text-orientation: upright;
        left: -40px;
        top: 20px;
    } */
}